<sm-loader [complete]="isCompleted" class="inverted" text="Loading..."></sm-loader>


<div class="ui stackable two column grid">
    <div class="four wide column">
        <div class="ui cards">
            <div class="card">
                <div class="image">
                    <img src="assets/img/avatar.png">
                </div>
                <div class="content">
                    <div class="header">Raditya Surya Pratama</div>
                    <div class="meta">
                        <a>Coder & Designer</a>
                    </div>
                    <div class="description">
                        Highly passionate in programming and design.
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                Since 1996
            </span>
                    <span>
                <i class="user icon"></i>
                @radityasurya
            </span>
                </div>
            </div>

        </div>
        <div class="ui card">
            <div class="content">
                <div class="header">About</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Intro</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Studied at <a>Fontys University of Applied Sciences</a>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Lives in <a>Eindhoven, The Netherlands</a>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                From <a>Jakarta, Indonesia</a> </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Speak <a>English</a>, <a>Indonesian</a>, <a>Basic Dutch</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content ">
                <button [routerLink]="['/contact']" class="ui button right floated">Contact</button>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header">Elliot Fu</div>
                    <div class="meta">Friend</div>
                    <div class="description">
                        <div class="ui divided link items">
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://semantic-ui.com/images/avatar/large/stevie.jpg">
                                </div>
                                <div class="content">
                                    <div class="header">Stevie Feliciano</div>
                                    <div class="description">
                                        <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui tiny image">
                                    <img src="http://semantic-ui.com/images/avatar/large/veronika.jpg">
                                </div>
                                <div class="content ">
                                    <div class="header ">Veronika Ossi</div>
                                    <div class="description">
                                        <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="ui tiny image ">
                                    <img src="http://semantic-ui.com/images/avatar/large/jenny.jpg">
                                </div>
                                <div class="content ">
                                    <div class="header ">Jenny Hess</div>
                                    <div class="description">
                                        <p>Stevie Feliciano is a <a>library scientist</a> living in New York City. She likes to spend her time reading, running, and writing.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>