<div class="ui three stackable cards">
    <sm-loader [complete]="isCompleted" class="inverted" text="Loading..."></sm-loader>

    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar/large/helen.jpg">
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar/large/jenny.jpg">
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar/large/veronika.jpg">
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar/large/stevie.jpg">
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="http://semantic-ui.com/images/avatar/large/steve.jpg">
        </div>
    </div>
</div>